.login_navbar {
    background-color: rgb(33,37,41);
}

.my_app_name {
    color: #F2F2F2;
    font-family: sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.75rem;
    align-items: center;
    justify-content: center;
}

.nvbar_logo_img {
    width: 3rem;
}